.custom{
    cursor:url("../images/cursor.png"), auto;
}
.logoformatting{
    margin-Left: 1000px;
    margin-top: -210px;
}
.textformatting{
    color:white;
    font-family: "Lucida Console";
    font-size: 45px;
}
.headerformatting{
    color:white;
    font-size: 100px;
    margin-left: 10px;
    margin-top: -40px;
    font-family: "lucida Console";
}
.altheaderformatting{
    color:white;
    font-size: 60px;
}
.nestledheaderformatting{
    margin-left: 112;
    margin-top: -70px;
    color: white;
    font-size: 69px;
    font-family: "lucida Console";
}
.navbuttonformat{
    width: auto;
}